<form name="deleteForm" (ngSubmit)="confirmDelete(paciente.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirme operaci&oacute;n de Eliminar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-paciente-heading">¿Est&aacute; seguro que desea eliminar este Paciente?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>
        <button id="jhi-confirm-delete-paciente" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Eliminar</span>
        </button>
    </div>
</form>
