<div>
    <h2 id="page-heading">
        <span>Tipo de Muestras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-muestra-labsys" [routerLink]="['/tipo-muestra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nuevo Tipo Muestra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoMuestras">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="descripcion"><span>Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="recipienteId"><span>Recipiente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoMuestra of tipoMuestras ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-muestra', tipoMuestra.id, 'view' ]">{{tipoMuestra.id}}</a></td>
                <td>{{tipoMuestra.descripcion}}</td>
                <td>
                    <div *ngIf="tipoMuestra.recipienteId">
                        <a [routerLink]="['../recipiente', tipoMuestra.recipienteId , 'view' ]" >{{tipoMuestra.recipienteId}} - {{tipoMuestra.recipiente.descripcion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-muestra', tipoMuestra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Detalle</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-muestra', tipoMuestra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipo-muestra/'+ tipoMuestra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tipoMuestras && tipoMuestras.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
