<div class="row">
    <div class="col-md-3">
        <span class="laboratory img-fluid rounded"></span>
    </div>
    <div class="col-md-9 text-center">
        <h1 class="display-5">Sistema Informaci&oacute;n para Laboratorios!</h1>
        <h3 class="display-5">Bienvenido</h3>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> Bienvenido, estas registrado como "{{account.login}}". </span>
            </div>
        </div>

        <p class="display-5 padding-top">Este sistema de informaci&oacute;n pretende ser una muestra de parte del flujo de admisiones que se realiza en los laboratorios cl&iacute;nicos.</p>
        <p class="display-5">Desarrollado como parte pr&aacute;ctica para la materia de Ingenier&iacute;a del Software del programa Ingenier&iacute;a de Sistemas.</p>
    </div>
</div>
