<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medico">
            <h2><span>Medico</span> {{medico.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tipo Documento</span></dt>
                <dd>
                    <span>{{medico.tipoDocumento}}</span>
                </dd>
                <dt><span>Documento</span></dt>
                <dd>
                    <span>{{medico.documento}}</span>
                </dd>
                <dt><span>Nombres</span></dt>
                <dd>
                    <span>{{medico.nombres}}</span>
                </dd>
                <dt><span>Apellidos</span></dt>
                <dd>
                    <span>{{medico.apellidos}}</span>
                </dd>
                <dt><span>Especialidad</span></dt>
                <dd>
                    <span>{{medico.especialidad}}</span>
                </dd>
                <dt><span>Tarjeta Profesional</span></dt>
                <dd>
                    <span>{{medico.tarjetaProfesional}}</span>
                </dd>
                <dt><span>Entidad Salud</span></dt>
                <dd>
                    <div *ngIf="medico.entidadSaludId">
                        <a [routerLink]="['/entidad-salud', medico.entidadSaludId, 'view']">{{medico.entidadSaludId}} - {{medico.entidadSalud.razonSocial}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atras</span>
            </button>

            <button type="button"
                    [routerLink]="['/medico', medico.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
