<div>
    <h2 id="page-heading">
        <span>Procedimientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-procedimiento-labsys" [routerLink]="['/procedimiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nuevo Procedimiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="procedimientos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="descripcion"><span>Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="precioUnitario"><span>Precio Unitario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="tipoMuestraId"><span>Tipo Muestra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedimiento of procedimientos ;trackBy: trackId">
                <td><a [routerLink]="['/procedimiento', procedimiento.id, 'view' ]">{{procedimiento.id}}</a></td>
                <td>{{procedimiento.descripcion}}</td>
                <td>{{procedimiento.precioUnitario | currency }}</td>
                <td>
                    <div *ngIf="procedimiento.tipoMuestraId">
                        <a [routerLink]="['../tipo-muestra', procedimiento.tipoMuestraId , 'view' ]" >{{procedimiento.tipoMuestraId}} - {{procedimiento.tipoMuestra.descripcion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/procedimiento', procedimiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Detalle</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/procedimiento', procedimiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'procedimiento/'+ procedimiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="procedimientos && procedimientos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
